{% extends 'base.html' %}

{% block title %}
    Your auto-encoded cases
{% endblock %}
{% block head %}
    <style>
        .display-flex {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div>
            <div class="display-flex" style="justify-content: space-evenly">
                <a href="{% url 'main:main' %}" class="btn btn-info">Back to main menu</a>
                <h3>You have encoded: {{ case_list|length }}</h3>
            </div>
            {% for case in case_list %}
                <div class="card display-flex p-3">
                    <div>
                        <h6>Original</h6>
                        <img src="{{ case.original.url }}" width="270" height="235" alt="">
                    </div>
                    <div>
                        <h6>Encoded</h6>
                        <img src="{{ case.encoded.url }}" width="270" height="235" alt="">
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}